<h1>Articles#new</h1>
 <p>Find me in app/views/articles/new.html.erb</p>
 <form action="">
   <input name="Title"></input>
   <textarea name="Content"></textarea>
   <input type="Button" value="Create Article"></input>
 </form>
