<%= link_to 'new article', 'articles/new'  %>


<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br />
      <%= article.content %><br />
      <%= link_to 'Comment', article_path(article)%>
    </li>
  <% end %>
</ul>
